* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  color: white;
  background-image: url("https://png.pngtree.com/background/20250210/original/pngtree-detailed-look-at-a-professional-athletic-stopwatch-resting-picture-image_16257937.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .timer {
    display: flex;
    gap: 5px;

    .box {
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 60px;
      border-radius: 10px;
      background-color: rgba(71, 70, 70, 0.637);
      position: relative;
    }

    .semicolon {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
    }
  }

  .btn{
    button {
        border: none;
        color: white;
        padding: 10px 20px;
        margin-right: 20px;
        font-size: 20px;
        border-radius: 40px;
        background-color: rgba(128, 128, 128, 0.637);
    }
  }

}
